<h1>Welcome to the NgRx Online Store!</h1>

<h2>Overview</h2>

<p>This is a workshop designed to learn the basics of the Redux pattern and NgRx.</p>

<p>Below are the technologies used in this web app:</p>

<ul>
  <li><a target="_blank" href="https://angular.io/">Angular (v14)</a></li>
  <li><a target="_blank" href="https://material.angular.io/">Angular Material (v14)</a></li>
  <li><a target="_blank" href="https://rxjs.dev/">RxJS (v7)</a></li>
  <li><a target="_blank" href="https://ngrx.io/">NgRx (v14)</a></li>
</ul>

<p>There are two main pages in this workshop:</p>

<ol>
  <li><b>Products</b>: A list of products that a user can add to their cart.</li>
  <li><b>Cart</b>: Products the user has selected for purchase.</li>
</ol>

<h2>Steps</h2>

<ol>
  <li>Step one</li>
  <li>Step two</li>
  <li>Step three</li>
</ol>
