<mat-toolbar color="primary">
  <span>The NgRx Online Store <span [style.color]="'red'">Solution</span></span>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">HOME</button>
  <button mat-button [routerLink]="['/products']">PRODUCTS</button>
  <button
    mat-button
    [routerLink]="['/cart']"
    [matBadge]="numSelectedProducts$ | async"
    [matBadgePosition]="'after'"
    [matBadgeColor]="'accent'"
  >
    CART
  </button>
</mat-toolbar>
